<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>Users List</h1>
  <h2>Here are your users:</h2>
  <div>
      <ol>
    {% for user in users_page %}
        <li>User Info</li>
          <ul>
            <li>First Name: {{ user.first_name }} </li>
            <li>Last Name: {{ user.last_name }} </li>
            <li>Email: {{ user.email }} </li>
          </ul>
    {% endfor %}
      </ol>

  </div>
</body>
</html>